@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #030303;
}
.container{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.imgBox{
    flex: 1;
    padding: 20px;
}
.imgBox img{
    max-width: 100%;
    height: 650px;
}
.info{
    flex:1 ;
    padding: 20px;
}
.info h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.info h5{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    margin: 25px;
    letter-spacing: 0.5px;

}
.info h5 span{
    color: #ff006a;
}
.info p{
    font-size: 16px;
    color: #cbcbcb;
    margin-bottom: 30px;
}

/* tugma style beramiza  */
 .info button{
    width: 140px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background: #ff006a;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgb(0,0,0,0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.info button:hover{
    box-shadow: 0 15px 20px #ff006a88;
    color: #fff;
    transform: translateY(-7px);
}

.info button:active{
    transform: translateY(-1px);
}
@media (max-width:991px){
    .container{
        flex-direction: column;
    }
    .imgBox img{
        height: 500px;
    }
    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 85%;
    }

    .info h1{
        font-size: 3rem;
    } 

    .info h5{
        font-size: 1.4rem;
    }


@media (max-width:567px){
    .imgBox img{
        height: 450px;
    }

    .info{
        width: 100%;
    }

    .info h5{
        font-size: 1.3rem;
    }
}}